@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Global Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffff;
}

ul,
li {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
* {
  font-weight: 500;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  border: none;
}

body {
  background-color: #faf9f8;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  max-width: fit-content;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}
